<h1 mat-dialog-title>All running services</h1>
<div mat-dialog-content>
  <mat-list *ngIf="(servicedata | async) as items" role="list">
    <mat-list-item role="listitem" *ngFor="let item of items">
      <p>Name: {{item.ImageName}} - 
      MemUsage: {{item.MemUsage}} - 
      PID: {{item.PID}} - 
      Session: {{item.Session}} - 
      SessionName: {{item.SessionName}}</p>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" [mat-dialog-close]="closed" cdkFocusInitial>Ok</button>
</div>
