.headercontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #43484f;
    border-bottom: 2px solid greenyellow;

    color: antiquewhite;

    align-items: center;
    justify-content: center;

    .title {
        color: antiquewhite;
    }
}