:host(app-install-service) {
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > * {
    width: 100%;
}

.mat-stroked-button{
    border: 1px solid greenyellow;
}

.actionBtn {
    > button {
        margin: 10px;
    }
}