<div class="container">
    <form [formGroup]="installForm">
      <label>
        Script Name:
        <input type="text" formControlName="scriptName">
      </label>
      <label>
        Description:
        <input type="text" formControlName="scriptDesc">
      </label>
      <label>
        <button mat-button (click)="selectScript()">Select Script</button>
        <input type="text" [disabled]="true" formControlName="scriptPath">
      </label>
    </form>
    <button mat-button (click)="install()" [disabled]="!installForm.valid">install testscript</button>
  </div>