<div class="container">
  <form class="form" [formGroup]="installForm">
    <mat-form-field>
      <label>
        Script Name:
        <input type="text" matInput formControlName="scriptName">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        Description:
        <input type="text" matInput formControlName="scriptDesc">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <button mat-flat-button (click)="selectScript()">Select Script</button>
        <input type="text" matInput [disabled]="true" formControlName="scriptPath">
      </label>
    </mat-form-field>
  </form>
  <button mat-stroked-button (click)="install()" [disabled]="!installForm.valid">install testscript</button>
</div>
