<div class="container">
    <h1 class="title">
      {{ 'PAGES.INSTALL.TITLE' | translate }}
    </h1>
    <form [formGroup]="installForm" (ngSubmit)="install()">
  
      <label>
        Script Name:
        <input type="text" formControlName="scriptName">
      </label>
    
      <label>
        Description:
        <input type="text" formControlName="scriptDesc">
      </label>
    
    </form>
    <button mat-button type="submit" [disabled]="!installForm.valid">install testscript</button>
  </div>