:host(app-uninstall-service) {
    width: 100%;
}

.mat-stroked-button{
    border: 1px solid greenyellow;
}

.bodymain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
}